.header{
    padding: 24px 0px;
    &__wrap{
        display: flex;
        align-items: center;
    }
    &__hum{
        margin-right: 20px;
    }
    &__title{
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        margin-right: 16px;
    }
    &__nav{
        margin-left: auto;
    }
}