.sidebar{
    background-color: #fff;
    min-height: 100vh;
    padding: 20px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-right: 1px solid #F0F0F3;
    max-width: 242px;
    &__logo{
        margin-bottom: 17px;
    }
    &.active{
        min-width: 242px;
    }
}