.filter{
    &__input{
        height: 52px;
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #ECECF2;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 0 24px;
        font-size: 14px;
        &::placeholder{
            color: #AEB1BD;
            transition: color.3s ease-out;
        }
        &:focus{
            &::placeholder{
                color: transparent;
            }
        }
        &--sm{
            height: 40px;
        }
    }
    &__input-wrap{
        margin-bottom: 16px;
    }
    &__bottom{
        display: flex;
        align-items: center;
    }
    &__list{
        margin-right: auto;
        padding-right: 40px;
        display: flex;
        flex-wrap: wrap;
        margin-left: -6px;
    }
    &__item{
        padding: 6px;
    }
    &__el{
        border: 1px solid #C7D4FF;
        background-color: #fff;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 7px 10px 7px 15px;
    }
    &__el-name{
        font-size: 12px;
        line-height: 18px;
        color: #5E81F4;
        margin-right: 10px;
    }
    &__el-res{
        width: 24px;
        height: 24px;
        background: #EFF2FE;
        border-radius: 12px;
        line-height: 24px;
        text-align: center;
        font-size: 12px;
        color: #5E81F4;
    }
}