.nation-budget{
    padding: 35px 45px 70px;
    &__title{
        font-weight: bold;
        font-size: 26px;
        line-height: 38px;
        color: #1C1D21;
        margin-bottom: 40px;
    }
    &__wrap{
        display: flex;
    }
    &__chart{
        margin-right: 75px;
    }
    &__body{
        flex: 1;
    }
    &__row{
        display: flex;
        margin: 0 -55px -25px;
    }
    &__col{
        width: 50%;
        padding: 0 55px;
        margin-bottom: 25px;
    }
    &__col-title{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #52545A;
        margin-bottom: 20px;
        margin-left: -22px;
    }
    &__grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -35px -25px;
        &--three{
            .nation-budget{
                &__grid-item{
                    width: 33.33%;
                }
            }
        }
        &--forth{
            .nation-budget{
                &__grid-item{
                    width: 25%;
                }
            }
        }
    }
    &__grid-item{
        width: 50%;
        padding: 0 35px;
        margin-bottom: 25px;
    }
    &__grid-item-title{
        margin-bottom: 8px;
        font-weight: bold;
    }
    &__price{
        font-weight: 900;
        font-size: 16px;
        line-height: 24px;
        color: #1C1D21;
    }
    &__info{
        font-size: 12px;
        line-height: 16px;
        color: #888B94;
    }
    &__stat{
        display: flex;
    }
    &__stat-chart{
        width: 250px;
        min-width: 250px;
        margin-right: 70px;
    }
    &__stat-grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px -25px;
    }
    &__stat-item{
        width: 50%;
        padding: 0 20px;
        margin-bottom: 25px;
    }
    &__stat-nr{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #1C1D21;
        margin-bottom: 2px;
    }
    &__stat-text{
        font-size: 12px;
        line-height: 16px;
        color: #888B94;
    }
}

@media (max-width: 1400px){
    .nation-budget{
        &__row{
            display: block;
        }
        &__col{
            width: 100%;
            margin-bottom: 40px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__grid--three{
            .nation-budget{
                &__grid-item{
                    width: 50%;
                }
            }
        }
    }
}