.project-toggles{
    &__item{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item-head{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        & > div{
            margin-right: 16px;
        }
    }
    &__item-head-info{
        font-size: 12px;
        line-height: 18px;
        color: #888B94;
    }
}