.project-sidebar{
    background: #FFFFFF;
    border: 1px solid #ECECF2;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 62px;
    &__item{
        display: block;
        border-bottom: 1px solid #ECECF2;
        padding: 25px 25px 25px 75px;
        text-decoration: none;
        position: relative;
        &:last-child{
            border-bottom: none;
        }
        &:hover,
        &.current{
            .project-sidebar{
                &__icon{
                    svg{
                        fill: #5E81F4;
                    }
                    i{
                        color: #5E81F4;
                    }
                }
                &__title{
                    color: #5E81F4;
                }
            }
        }
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 33px;
        top: 50%;
        margin-top: -11px;
        svg{
            fill: #8181A5;
            transition: fill .3s ease-out;
        }
        i{
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            color: #1C1D21;
            transition: color .3s ease-out;
        }
    }
    &__title{
        display: block;
        font-weight: bold;
        line-height: 17px;
        color: #1C1D21;
        margin-bottom: 3px;
        transition: color .3s ease-out;
    }
    &__desc{
        display: block;
        font-size: 12px;
        line-height: 18px;
        color: #8181A5;
    }
}