.project{
    &__wrap{
        display: flex;
    }
    &__body{
        width: calc(100% - 85px - 350px);
        margin-right: 85px;
    }
    &__sidebar{
        width: 350px;
    }
    &__status{
        margin-bottom: 15px;
        .status{
            margin-right: 9px;
        }
    }
    &__art{
        font-size: 14px;
        line-height: 23px;
        color: #1C1D21;
        margin-bottom: 37px;
    }
    &__map{
        margin-bottom: 32px;
    }
    &__info{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -25px -35px;
        padding-bottom: 85px;
        &--inner{
            padding-bottom: 0;
            margin-top: 50px;
        }
    }
    &__info-col{
        width: 33.33%;
        padding: 0 25px;
        margin: 0 0 35px;
    }
    &__info-head{
        font-size: 14px;
        line-height: 23px;
        color: #888B94;
        margin-bottom: 4px;
    }
    &__info-value{
        font-size: 14px;
        line-height: 23px;
        color: #1C1D21;
    }
    &__title{
        margin-bottom: 25px;
    }
    &__desc{
        margin-bottom: 62px;
    }
    &__head{
        margin-bottom: 34px;
        h3{
            display: inline;
        }
    }
    &__top{
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__head-nav{
        margin-left: 7px;
        display: inline-block;
    }
    &__panel{
        &--inner{
            margin-bottom: 31px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &--main,
        &--goal,
        &--fin{
            margin-bottom: 23px;
        }
        &--manage,
        &--nat{
            margin-bottom: 62px;
        }
        &--goal,
        &--fin{
           .project{
               &__head{
                   margin-bottom: 12px;
               }
           } 
        }
    }
    &__docs{
        margin-bottom: 42px;
    }
    &__docs-load{
        margin-bottom: 23px;
    }
    &__docs-list-title{
        font-size: 14px;
        line-height: 21px;
        color: #888B94;
        margin-bottom: 21px;
    }
    &__docs-list-item{
        margin-bottom: 45px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__nav-item{
        margin-bottom: 14px;
    }
    &__nav-link{
        display: block;
        position: relative;
        border: 1px solid #ECECF2;
        border-radius: 12px;
        padding: 25px 25px 25px 75px;
        text-decoration: none;
        transition: border-color .3s ease-out;
        &:hover{
            border-color: #94ACF9;
            .project__nav{
                &-icon{
                    svg{
                        fill: #5E81F4;
                    }
                    i{
                        color: #5E81F4;
                    }
                }
                &-title{
                    color: #5E81F4;
                }
            }
        }
        &[disabled]{
            opacity: .3;
            cursor: no-drop;
            &:hover{
                border: 1px solid #ECECF2;
            }
            .project__nav{
                &-icon{
                    svg{
                        fill: #8181A5;
                    }
                    i{
                        color: #8181A5;
                    }
                }
                &-title{
                    color: #1C1D21;
                }
            }
        }
    }
    &__nav-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        position: absolute;
        left: 33px;
        top: 50%;
        margin-top: -11px;
        svg{
            fill: #8181A5;
            transition: fill .3s ease-out;
        }
        i{
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            color: #1C1D21;
            transition: color .3s ease-out;
        }
    }
    &__nav-title{
        display: block;
        font-weight: bold;
        line-height: 17px;
        color: #1C1D21;
        margin-bottom: 3px;
        transition: color .3s ease-out;
    }
    &__nav-desc{
        display: block;
        font-size: 12px;
        line-height: 18px;
        color: #8181A5;
    }
    &__bottom{
        &--edit{
            margin-top: 80px;
        }
    }

    &__card{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    &__card-name{
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #1C1D21;
        margin-bottom: 6px;
    }
    &__card-id{
        font-size: 14px;
        line-height: 21px;
        color: #888B94;
    }

    &__card-link{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #5E81F4;
        text-decoration: none;
        border-bottom: none;
        transition: color .3s ease-out;
        &:hover{
            color: darken($color: #5E81F4, $amount: 15%);
        }
    }

    &__card-wrap{
        margin-bottom: 30px;
    }

    &__box{
        padding: 0px 0 30px;
    }

    &__box-head{
        display: flex;
        align-items: center;
        padding: 20px 27px;
    }

    &__box-title{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #1C1D21;
        padding-right: 30px;
        margin-right: auto;
    }

    &__box-row{
        display: flex;
        align-items: center;
    }

    &__box-cell{
        padding: 0 27px;
        &--dark{
            background: rgba(245, 245, 250, 0.4);
        }
        &:first-child{
            width: 70%;
        }
        &:last-child{
            width: 30%;
        }
    }

    &__box-label{
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #8181A5;
        padding: 15px 0;
    }

    &__box-wrap{
        display: flex;
        align-items: center;
        padding: 10px 0;
    }

    &__box-icon{
        margin-right: 15px;
    }
    
    &__box-header{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #30363D;
        margin-bottom: 1px;
    }

    &__box-price{
        font-size: 14px;
        line-height: 21px;
        color: #30363D;
    }

    &__box-status{
        display: flex;
        justify-content: flex-end;
    }
}

