.progress-list{
    &__item{
        margin-bottom: 22px;
    }
    &__head{
        display: flex;
        &--ab{
            align-items: flex-end;
        }
    }
    &__left{
        width: 215px;
        min-width: 215px;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
        position: relative;
        padding-right: 30px;
        padding-left: 22px;
    }
    &__status{
        position: absolute;
        left: 0;
        top: -1px;
        font-size: 20px;
        line-height: 20px;
        &.up{
            color: #7CE7AC;
        }
        &.down{
            color: #FF808B;
        }
    }
    &__body{
        width: calc(100% - 64px - 215px);
    }
    &__nav{
        width: 64px;
        min-width: 64px;
        display: flex;
        justify-content: flex-end;
    }
    &__bar{
        width: 100%;
        height: 37px;
        background: #F6F6F6;
        position: relative;
    }
    &__desc{
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: #888B94;
        position: absolute;
        top: 5px;
        right: 14px;
    }

    &__nav-mb{
        margin-bottom: 35px;
    }

    &__line{
        border-radius: 4px;
        height: 17px;
        position: absolute;
        left: 0;
        text-align: right;
        line-height: 17px;
        font-size: 14px;
        color: #fff;
        &.blue{
            background-color: #5E81F4;
        }
        &.green{
            background-color: #7CE7AC;
        }
        &.yellow{
            background-color: #FFCC00;
            color: #000;
        }
        &.red{
            background-color: #FF808B;
        }
        &--1{
            top: 0;
        }
        &--2{
            bottom: 0;
        }
    }
    &__line-text{
        padding: 0 5px;
    }
    &__el{
        margin-bottom: 18px;
    }
    &__els{
        padding-bottom: 25px;
    }
}