.projects{
    &__filter{
        margin-bottom: 35px;
        position: relative;
        z-index: 3;
    }
    &__pagination{
        margin-top: 40px;
    }
    &__name{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #1C1D21;
    }
    &__code{
        font-size: 12px;
        line-height: 18px;
        color: #52545A;
        margin-top: 5px;
    }
}