.sign-up{
    background-color: #fff;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &:before{
        content: '';
        display: block;
        width: 45%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: #ccc url(../img/sign-up__bg.jpg) no-repeat 50% 50% / cover;
    }
    &--lg{
        &::before{
            width: 30%;
        }
        .sign-up{
            &__block{
                max-width: 754px;
            }
            &__form{
                margin-bottom: 0;
            }
        }
    }
    &__wrap{
        width: 100%;
        max-width: 1070px;
        margin: 0 auto;
        padding: 110px 15px;
    }
    &__block{
        max-width: 360px;
    }
    &__top{
        display: flex;
        align-items: center;
        margin-bottom: 62px;
        max-width: 360px;
    }
    &__logo{
        min-width: 87px;
        width: 87px;
        margin-right: 32px;
    }

    &__top-text{
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.2px;
        color: #484873;
    }

    &__form{
        margin-bottom: 14vh;
        .form{
            &__cell{
                margin-bottom: 20px;
            }
        }
    }
}