.structure{
    &__head{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px -16px;
        padding-bottom: 32px;
    }    
    &__head-item{
        padding: 0 8px;
        margin-bottom: 16px;
    }
}