.structure-list{
    &__item-inner{
        padding-top: 12px;
        padding-left: 25px;
        position: relative;
        z-index: 1;
        &--top{
            &:after{
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                right: 100%;
                margin-right: -2px;
                top: 0;
                border-left: 2px solid #DDE0E6;
                z-index: -2;
                margin-top: 1px;
            }
            .structure-list__item-inner-item:last-child{
                &:before{
                    content: '';
                    display: block;
                    height: 50%;
                    position: absolute;
                    right: 100%;
                    margin-right: 23px;
                    bottom: 0;
                    border-left: 2px solid #fff;
                    margin-top: 1px;
                }
            }
        }
    }
    &__item-inner-item{
        margin-bottom: 12px;
        position: relative;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__head{
        background: #F5F5FA;
        border-radius: 10px 10px 10px 0px;
        padding: 17px 35px 17px 25px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        &--inner{
            background-color: #fff;
            border: 1px solid #D5D9E6;
            padding-right: 20px;
            border-radius: 10px;
            position: relative;
            &:before{
                content: '';
                display: block;
                width: 24px;
                border-bottom: 2px solid #DDE0E6;
                position: absolute;
                right: 100%;
                top: 50%;
                margin-top: -1px;
            }
            &:after{
                content: '';
                display: block;
                height: calc(100% + 14px);
                position: absolute;
                right: 100%;
                margin-right: 24px;
                top: 50%;
                transform: translateY(-100%);
                border-left: 2px solid #DDE0E6;
                z-index: -2;
                margin-top: 1px;
            }
            .structure-list{
                &__title{
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    &__nr{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: #000000;
        margin-right: 25px;
    }
    &__status{
        width: 5px;
        height: 48px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -24px;
        &.done{
            background: #7CE7AC;
        }
        &.fail{
            background: #FF808B;
        }
        &.finish{
            background: #000;
        }
        &.draft{
            background: #AEB1BD;
        }
    }
    &__title{
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        display: flex;
        align-items: center;
        color: #2D2F33;
        margin-bottom: 1px;
    }
    &__info{
        margin-right: auto;
        padding-right: 30px;
    }
    &__desc{
        font-size: 12px;
        line-height: 18px;
        color: #8F939B;
    }
    &__det{
        max-width: 155px;
        margin-left: auto;
        font-size: 12px;
        line-height: 18px;
        color: #52545A;
    }
    &__nav{
        display: flex;
    }
    &__nav-item{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
            margin-left: 0 !important;
        }
    }
    &__labels{
        margin-right: 20px;
    }
    &__labels-item{
        margin-bottom: 4px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}