.calendar{
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
    &__table{
        width: 100%;
        border: 1px solid #EEEEEE;
        th{
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #8181A5;
            font-weight: normal;
            padding: 17px 15px;
            background-color: #F5F5FA;
            width: calc(100% / 7);
        }
        td{
            padding: 7px;
            border: 1px solid #EEEEEE;
            width: calc(100% / 7);
            vertical-align: middle;
        }
    }
    &__day{
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        position: absolute;
        right: 10px;
        top: 11px;
    }
    &__event{
        height: 106px;
        padding: 16px 15px;
        padding-right: 35px;
        border-radius: 6px;
        position: relative;
        color: #1C1D21;
        &.clicked{
            cursor: pointer;
        }
        &.old{
            color: #8181A5;
        }
        &.green{
            color: #58B080;
            background-color: #E7F7EE;
            cursor: pointer;
        }
        &.yellow{
            color: #D2AA08;
            background-color: rgba(255, 204, 0, 0.1);
            cursor: pointer;
        }
        &.red{
            color: #FF808B;
            background-color: rgba(255, 128, 139, 0.1);
            cursor: pointer;
        }
        &.gray{
            background: url(../img/calendar-texture.jpg) repeat-x;
            background-size: auto 100%;
            cursor: pointer;
        }
    }
    &__event-title{
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
    }
}