.chat-comment{
    width: 18px;
    height: 21px;
    background: url(../img/icons/chat-c.svg) no-repeat 50% 50%;
    position: relative;
    cursor: pointer;
    &.notice{
        &:before{
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #FF808B;
            position: absolute;
            right: -3px;
            top: 2px;
            box-sizing: border-box;
        }
    }
}