.docs-load{
    background: rgba(244, 247, 251, 0.5);
    border: 1px dashed rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 50px 50px 50px 90px;
    cursor: pointer;
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        display: flex;
        align-items: center;
        padding-right: 50px;
    }
    &__icon{
        position: relative;
        z-index: 1;
        margin-right: 30px;
    }
    &__text{
        font-size: 14px;
        line-height: 21px;
        color: #A1A5AE;
    }
}