.form{
    &__row{
        display: flex;
        margin: 0 -14px;
    }
    &__cell{
        width: 50%;
        padding: 0 14px;
        margin-bottom: 33px;
        &--full{
            width: 100%;
        }
        .form{
            &__field{
                margin-bottom: 0;
            }
            &__checkbox{
                padding-top: 15px;
            }
        }
    }
    &__field{
        margin-bottom: 24px;
        position: relative;
        &--icon{
            .form{
                &__input{
                    padding-right: 35px;
                }
            }
        }
    }
    &__icon{
        font-size: 18px;
        line-height: 18px;
        color: #C0C1E2;
        position: absolute;
        right: 0;
        bottom: 17px;
    }
    &__bottom{
        margin-top: 50px;
        display: flex;
        button{
            flex: 1;
        }
    }
    &__label{
        display: block;
        font-size: 14px;
        line-height: 21px;
        color: #888B94;
        margin-bottom: -5px;
        & + .form__checkbox-row{
            margin-top: 20px;
        }
        .req{
            color: #ff808b;
        }
    }
    &__text{
        font-size: 14px;
        line-height: 23px;
        color: #1C1D21;
        line-height: 48px;
    }
    &__input{
        font-family: $base-font;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #F0F0F3;
        font-size: 14px;
        color: #1C1D21;
        padding: 0;
        border-radius: 0;
        height: 48px;
        &--calendar{
            background: transparent url(../img/icons/calendar.svg) no-repeat 99% 50%;
        }
        &::placeholder{
            color: #C0C1E2;
            transition: color .3s ease-out;
        }
        &:focus{
            border-bottom: 1px solid #5E81F4;
            &::placeholder{
                color: transparent;
            }
        }
    }
    &__textarea{
        font-family: $base-font;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #F0F0F3;
        font-size: 14px;
        line-height: 21px;
        color: #1C1D21;
        padding: 15px 0px 10px;
        border-radius: 0;
        resize: none;
        height: 48px;
        
        &::placeholder{
            color: $black;
            transition: color .3s ease-out;
        }
        &:focus{
            border-bottom: 1px solid #5E81F4;
            &::placeholder{
                color: transparent;
            }
        }
        &--table{
            padding: 0;
            height: auto;
            border: none !important;
            font-size: 12px;
            line-height: 15px;
            color: #1C1D21;
            min-width: 500px;
            &::placeholder{
                color: #888B94;
            }
            &:focus{
                &::placeholder{
                    color: transparent;
                }
            }
        }
    }
    &__select{
        font-family: $base-font;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #F0F0F3;
        font-size: 14px;
        color: #1C1D21;
        padding: 0;
        border-radius: 0;
        height: 48px;
        background: transparent url(../img/icons/arrow.svg) no-repeat 99% 50%;
        cursor: pointer;
    }
    &__add{
        padding-left: 24px;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #5E81F4;
        text-decoration: none;
        position: relative;
        transition: color .3s ease-out;
        &:before{
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url(../img/icons/add-1.svg) no-repeat 50% 50%;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -8px;
        }
        &:hover{
            color: darken($color: #5E81F4, $amount: 15%);
        }
    }
    &__add-wrap{
        &--mt{
            margin-top: 15px;
        }
    }

    &__checkbox-row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px -15px;
    }

    &__checkbox-item{
        padding: 0 20px;
        margin-bottom: 15px;
    }

    &__checkbox{
        input{
            display: none;
            & + label{
                display: flex;
                cursor: pointer;
                i{
                    min-width: 20px;
                    width: 20px;
                    height: 20px;
                    background: #F0F0F3;
                    border-radius: 4px;
                    margin-right: 12px;
                    position: relative;
                    transition: background-color .3s ease-out;
                    &:before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: url(../img/icons/checkbox-icon.svg) no-repeat 50% 50%;
                        opacity: 0;
                        transition: opacity .3s ease-out;
                    }
                }

                span{
                    font-size: 14px;
                    line-height: 20px;
                    color: #8181A5;
                }
            }

            &:checked + label{
                i{
                    background-color: #5E81F4;
                    &:before{
                        opacity: 1;
                    }
                }
                span{
                    color: #1C1D21;
                }
            }
        }
    }

    &__bottom-nav{
        margin: 30px 0 0;
    }

    &__policy{
        margin-top: 20px;
        font-size: 12px;
        line-height: 16px;
        color: #C0C1E2;
        max-width: 400px;
    }
}