.hum{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: rgba(129, 129, 165, .1);
    mix-blend-mode: normal;
    transition: background .3s ease-out;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #8181A5;
    svg{
        fill: #8181A5;
    }
    &:hover{
        background-color: rgba(129, 129, 165, .2);
    }
}