.icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    background: no-repeat 50% 50% / contain;
    &--gos{
        background-image: url(../img/icons/gos.svg);
    }
}